@import url('https://fonts.googleapis.com/css2?family=Anton&display=block');

:root {
	--c-black-h: 0;
	--c-black-s: 0%;
	--c-black-l: 14%;
	--c-black-hsl: var(--c-black-h), var(--c-black-s), var(--c-black-l);
	--c-black: hsl(var(--c-black-hsl));

	--c-white-h: 0;
	--c-white-s: 0%;
	--c-white-l: 96%;
	--c-white-hsl: var(--c-white-h), var(--c-white-s), var(--c-white-l);
	--c-white: hsl(var(--c-white-hsl));

	--c-white-bright-hsl: var(--c-white-h), var(--c-white-s), calc(var(--c-white-l) + 5%);
	--c-white-bright: hsl(var(--c-white-bright-hsl));

	--c-accent-h: 160;
	--c-accent-s: 66%;
	--c-accent-l: 44%;
	--c-accent-hsl: var(--c-accent-h), var(--c-accent-s), var(--c-accent-l);
	--c-accent: hsl(var(--c-accent-hsl));

	--c-error-h: 352;
	--c-error-s: 66%;
	--c-error-l: 44%;
	--c-error-hsl: var(--c-error-h), var(--c-error-s), var(--c-error-l);
	--c-error: hsl(var(--c-error-hsl));

	--c-link-h: 237;
	--c-link-s: 100%;
	--c-link-l: 70%;
	--c-link-hsl: var(--c-link-h), var(--c-link-s), var(--c-link-l);
	--c-link: hsl(var(--c-link-hsl));

	--font-ui: -apple-system, BlinkMacSystemFont, avenir next, avenir,
	segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto,
	noto, arial, sans-serif;
	--font-meme: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

	font-family: var(--font-ui);
	font-size: 16px;
	line-height: 1.5;

	color-scheme: light /* dark */;
	color: var(--c-black);
	background-color: var(--c-white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--c-black: whitesmoke;
		--c-white: #242424;
	}
} */

body {
	margin: 0;
	box-sizing: border-box;
	overflow-y: scroll;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#app {
	min-height: 100vh;
	background-color: var(--c-white);
	display: flex;
	flex-direction: column;
	align-items: center;
}
#app > * {
	flex-shrink: 0;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}

a {
	text-decoration: inherit;
	font-weight: 500;
	color: var(--c-link);
}
a:hover, a:focus {
	color: hsl(var(--c-link-h), var(--c-link-s), calc(var(--c-link-l) + 8%));
}
